.word {
  @apply text-purple-500 font-semibold;
}

.content {
  @apply rounded-xl border border-gray-200 leading-normal bg-white select-none text-gray-800 text-lg px-6 py-4 max-w-sm shadow-xl;
  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}

.content p {
  @apply font-semibold mb-2;
}

.content[data-state='delayed-open'][data-side='top'] {
  animation-name: slideDownAndFade;
}

.content[data-state='delayed-open'][data-side='right'] {
  animation-name: slideLeftAndFade;
}

.content[data-state='delayed-open'][data-side='bottom'] {
  animation-name: slideUpAndFade;
}

.content[data-state='delayed-open'][data-side='left'] {
  animation-name: slideRightAndFade;
}

.arrow {
  @apply fill-white
}

@keyframes slideUpAndFade {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  25% {
    opacity: 1;
    transform: translateY(40px);
  }

  50% {
    transform: translateY(5px);
  }

  75% {
    transform: translateY(1px);
  }

  100% {
    transform: translateY(20px);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}