@import url(https://fonts.bunny.net/css?family=lato:300,400,700);


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Teachers", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Jost', sans-serif;
}

pre,
code {
  font-family: "Roboto Mono", monospace;
}

.prose :where(code):not(:where([class~="not-prose"] *))::before,
.prose :where(code):not(:where([class~="not-prose"] *))::after {
  content: '';
}

.prose pre {
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
}

.prose img {
  @apply rounded-md shadow-sm;
}

.prose pre div {
  border-radius: 2px;
}

.prose blockquote {
  font-style: normal;
  quotes: none;
}